{% extends 'base.html.twig' %}

{% block title %} Conseils - SNIW, centrale d'achat export. {% endblock %}

{% block body %}
<body>
    <div class="background ">
        <div class="columns-container container carriere-container">
            <div class="rte">
                <div class="row cms-sniw-1">
                    <div class="col-xs-12 col-sm-12 resp-head" >
                        <div class="cms-header-text" style="padding-bottom:20px">Une ouverture, un agrandissement, un nouveau projet... SNIW met à votre
                            disposition son expérience, ses savoir-faire. Vous pouvez compter sur des spécialistes de la
                            distribution, du merchandising et de l'animation qui sauront adapter et prendre en compte les
                            particularités locale de votre commerce.
                        </div>
                    </div>
                    <div class="container" style="margin-top:40px">
                        <div class="col-xs-12 col-sm-12 ">
                            <h3><span>&nbsp;Conseil d’assortiment<hr></span></h3>
                        </div>
                        <div id="center" style="margin-top:80px"><img
                                    src="{{ asset('images/assortiment.jpg')}}"
                                    alt="Conseil d'assortiment" width="593" height="357"
                                    style="margin-left: auto; margin-right: auto;"/></div>
                    </div>

                    <div class="container" style="margin-top:70px">

                        <div class="col-xs-12 col-sm-12">
                            <h3><span>&nbsp;Plans d’implantation<hr></span></h3>
                        </div>
                        <div id="center" style="margin-top:80px"><img
                                    src="{{ asset('images/implantation.jpg')}}"
                                    alt="Plans d'implantation" width="791" height="533"
                                    style="margin-left: auto; margin-right: auto;"/></div>
                    </div>
                    <div class="container" style="margin-top:70px">
                        <div class="col-xs-12 col-sm-12">
                            <h3><span>&nbsp;Planogrammes<hr> </span></h3>
                        </div>
                        <div id="center" style="margin-top:80px"><img
                                    src="{{ asset('images/planogramme.jpg')}}"
                                    alt="Planogrammes" width="794" height="256"
                                    style="margin-left: auto; margin-right: auto;"/></div>
                        <div class="col-xs-12 col-sm-12" style="margin-top:40px">
                            <p>SNIW saura avec ses partenaires vous apporter le meilleur conseil;</p>
                            <ul class="list-plano">
                                <li>Et si vous souhaitez :
                                    <ul>
                                        <li><strong>devenir plus performant encore,</strong></li>
                                        <li><strong>adopter un concept qui a fait ses preuves (6000 magasins)</strong></li>
                                    </ul>
                                </li>
                            </ul>
                            <p>Nous pourrons vous proposez au meilleur coût, <strong>une franchise sur mesure<br/><br/><br/><br/></strong>
                            </p>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-xs-12 col-sm-12">
                            <h3><span>&nbsp;FRANCHISES <hr></span></h3>
                            <div class="titre-franchise">Franchises sur mesure</div>
                            <div id="center" style="margin-top:40px;"><img
                                        src="{{ asset('images/franchise.jpg')}}"

                                        alt="Franchises" width="955" height="427"/></div>
                            <p class="text-franchise" style="margin-top:40px">Adopter une franchise SNIW c’est bénéficier
                                :</p>
                            <ul class="list-franchise">
                                <li><span>1</span>du soutien de spécialistes marketing pour optimiser, organiser votre
                                    supermarché ou supérette,
                                </li>
                                <li><span>2</span>d’une signalétique adaptée et des dernières techniques de la grande
                                    distribution,
                                </li>
                                <li><span>3</span>de nos marques réservées Belle France et Délices de Belle France,
                                    <div class="logo-franchise"><img
                                                src="{{ asset('images/franchise-belle-france.jpg')}}"

                                                alt="Belle France" width="86" height="80"/><img
                                                src="{{ asset('images/franchise-les-delices.jpg')}}"

                                                alt="Les délices Belle France" width="200" height="71"/></div>
                                </li>
                                <li><span>4</span>de promotions négociées auprès des industriels pour l'ensemble de nos
                                    magasins,
                                </li>
                                <li><span>5</span>de conditions d'achat de groupe pour tout matériel, équipement, de
                                    supermarchés,
                                </li>
                                <li><span>6</span>d'un suivi et soutien personnalisés à distance et sur site de notre
                                    équipe, quel que soit votre pays.
                                </li>
                            </ul>
                            <p class="text-franchise">Pour obtenir :</p>
                            <div class="picto-franchise pict1">UN CHIFFRE D'AFFAIRES EN FORTE HAUSSE</div>
                            <div class="picto-franchise pict2">UNE MEILLEURE RENTABILITÉ DE VOTRE POINT DE VENTE</div>
                            <p class="text-franchise">En gardant :</p>
                            <div class="picto-franchise pict3">VOTRE INDÉPENDANCE</div>
                        </div>
                    </div>
                </div>
                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
