{% extends 'base.html.twig' %}

{% set totalHT = 0 %}
{% set volume = 0 %}
{% set poids = 0 %}
{% set coeff_cat = 0 %}

{% block title %}Commande - SNIW , centrale d'achat export.{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome/all.css">
{% endblock %}


{% block body %}
    <body>
    <div class="background">
        <div class="columns-container container carriere-container">
            <div class="rte">


                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="{{ path('catalogue') }}">Catalogue</a></li>
                        <li class="active"><i class="fa fa-angle-right" aria-hidden="true"></i>Votre panier</li>

                    </ul>
                </div>
                <h2> Récapitulatif de la commande </h2>

                {% if produits|length > 0  %}
                    <a href="{{ path('vider_panier') }}" style="text-decoration: underline;float:right;margin-bottom:10px"> VIDER LE PANIER </a>

                    {{ form_start(form) }}


                    <button type="submit" style="text-decoration: underline;margin-left:10px;-webkit-appearance:none;border:none;cursor:pointer;color:#007BFF;background:none"> ENREGISTRER CE PANIER </button>
                    {{ form_end(form) }}
                {% endif %}
                <table class="table mt-5 table-responsive">
                    <thead>
                    <tr>
                        <th style="width:100px;border: 1px solid #e9ecef">Produit</th>
                        <th style="width:400px;border: 1px solid #e9ecef">Description</th>
                        <th style="width:100px;border: 1px solid #e9ecef">Prix/Carton</th>
                        <th style="width:100px;border: 1px solid #e9ecef;display:none">Poids/Carton</th>
                        <th style="width:100px;border: 1px solid #e9ecef;display:none">Volume/Carton</th>
                        <th style="width:140px;border: 1px solid #e9ecef">Nb de carton(s)</th>
                        <th style="width:140px;border: 1px solid #e9ecef;display:none">Poids produit(s)</th>
                        <th style="width:140px;border: 1px solid #e9ecef;display:none">Volume produit(s)</th>
                        <th style="width:120px;border: 1px solid #e9ecef">Total</th>
                        <th style="width:140px;border: 1px solid #e9ecef"> Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if produits|length ==0 %}
                        <tr>
                            <td colspan="6" class="text-center"> Votre panier est vide</td>
                        </tr>
                    {% endif %}

                    {% for produit in produits %}
                        <tr id="produit_{{ produit.id }}">
                            <td style="border: 1px solid #e9ecef">

                                {% if produit.image|length > 0 %}
                                    <img src="{{ asset('produits/images/' ~ produit.image) }}" style="width:100%;" alt="{{ produit.nom }}">
                                {% else %}
                                    <img src="http://{{ produit.getImageImport() }}" style="width:90%;" alt="{{ produit.nom }}">
                                {% endif %}
                            </td>
                                {% set prixTotalProduit =  produit.getPrixFinal() * panier[produit.id] %}
                                {% set poidsP = produit.weight * panier[produit.id] %}
                                {% set volumeP = produit.profondeur * panier[produit.id] %}
                            <form  id="form-qte">
                                <td style="border: 1px solid #e9ecef;text-transform: uppercase"> {{ produit.nom }}
                                    <p style="font-size:11px;text-transform: none"> Référence
                                        : {{ produit.reference }}</p>
                                </td>
                                <td style="border: 1px solid #e9ecef"><span
                                            id="prixProd_{{ produit.id }}">
                                        {% for categorie in produit.categories %}
                                            {% if loop.first %}
                                                {% for coeff in categorie.coefficients %}
                                                    {% set coeff_cat = coeff.getNewCoeff() %}
                                                    {% set coeff_groupes = coeff.getGroupes() %}

                                                    {% if app.user.getIdGroupe().getId() == coeff_groupes.getId() %}
                                                        {{ ((produit.getPrixFinal() * coeff_cat)|number_format(2, '.', ',')) }}
                                                    {% else %}
                                                        {# L'utilisateur doit être associé à un groupe pour voir les prix #}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </td>
                                <td style="border: 1px solid #e9ecef;display:none"><span
                                            id="poidsProd_{{ produit.id }}">{{ produit.weight|number_format(2, '.','') }}</span>
                                </td>
                                <td style="border: 1px solid #e9ecef;display:none"><span
                                            id="volumeProd_{{ produit.id }}">{{ produit.profondeur|number_format(2, '.','') }}</span>
                                </td>
                                <td style="border: 1px solid #e9ecef">
                                    <input onchange="modifQte({{ produit.id }},'/modifQte/ajax/'+{{ produit.id }})" name="quantite" id="submitid_{{ produit.id }}" type="text" value="{{ panier[produit.id] }}" >
                                </td>
                                <td style="border: 1px solid #e9ecef;display:none"><span class="poidsall"
                                            id="poidsTotal_{{ produit.id }}">{{ poidsP|number_format(2, '.','') }} </span> kg
                                </td>

                                <td style="border: 1px solid #e9ecef;display:none">
                                    <span class="volumeall"
                                            id="volumeTotal_{{ produit.id }}">{{ volumeP|number_format(2, '.','') }}</span>  m3
                                </td>
                                <td style="border: 1px solid #e9ecef"><span class="priceall"
                                            id="prixTotal_{{ produit.id }}">


                                        {% for categorie in produit.categories %}
                                            {% if loop.first %}


                                                {% for coeff in categorie.coefficients %}
                                                    {% set coeff_cat = coeff.getNewCoeff() %}
                                                    {% set coeff_groupes = coeff.getGroupes() %}

                                                    {% if app.user.getIdGroupe().getId() == coeff_groupes.getId() %}
                                                        {{ (((produit.getPrixFinal() * coeff_cat) *  panier[produit.id])|number_format(2, '.', '')) }}


                                                        {% set totalHT = totalHT + (produit.getPrixFinal() * coeff_cat) *  panier[produit.id] %}


                                                    {% else %}
                                                        {# L'utilisateur doit être associé à un groupe pour voir les prix #}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}


                                        {% endfor %}







                                    </span>€
                                </td>
                                <td style="border: 1px solid #e9ecef">
                                    <img onclick="suppAjax({{ produit.id }},'/supprimer/ajax/'+{{ produit.id }})" src="{{ asset('images/supprimer.png') }}" style="width:30px;margin-left: 30px;margin-top: 20px;" >
                                </td>

                            </form>
                        </tr>


                        {% set volume = volume + (produit.profondeur) * panier[produit.id] %}
                        {% set poids = poids + (produit.weight) * panier[produit.id] %}
                        {% set poidsProduit = produit.weight %}

                    {% endfor %}

                    </tbody>
                </table>

                {% if produits|length !=0 %}

                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <tr>
                                    <td style="border: 1px solid #e9ecef"> Volume</td>
                                    <td style="border: 1px solid #e9ecef"> <span id="volumeFinal"> {{ volume|number_format(2, '.','') }} </span> m³</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #e9ecef"> Poids</td>

                                    <td style="border: 1px solid #e9ecef"> <span id="poidsFinal" >{{ poids|number_format(2, '.','') }} </span> kg </td>
                                </tr>

                                <tr>
                                    <td style="border: 1px solid #e9ecef">Total HT</td>
                                    <td style="font-weight: bold;font-size:22px;border: 1px solid #e9ecef" ><span id="prixFinal"> {{ (totalHT)|number_format(2, '.', '') }} </span>
                                        €
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <a class="btn-mj btn-def" href="{{ path('catalogue') }}" style="color:white"> <i
                                        class="fa fa-angle-double-left"></i> Continuer mes achats </a>
                        </div>
                        <div class="col">
                            <a id="submit" class="btn-mj btn-def" href="{{ path('adresses', {id: app.user.id}) }}"
                               style="color:white;float:right"> Envoyer ma demande <i
                                        class="fa fa-angle-double-right"></i> </a>
                        </div>
                    </div>

                {% endif %}

                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>

    <script>
        function modifQte(id,changePath) {
            $.ajax({
                type: "POST",
                url: changePath,
                data : {
                    quantite: $('#submitid_' +id).val(),
                    poidsFinal: $('#poidsFinal').text()
                },
                dataType: "json",
                success: function(response) {
                    //Quantité produit
                    console.log($('#submitid_' +id).val());
                    let qte = $('#submitid_' +id).val();



                    //Poids produit
                    let poidsProduit = parseFloat($('#poidsProd_'+id).text()).toFixed(2);

                    //Volume produit
                    let volumeProduit = parseFloat($('#volumeProd_'+id).text()).toFixed(2);

                    //Prix produit
                    let prixProduit = parseFloat($('#prixProd_'+id).text()).toFixed(2);




                    //Si la quantité entrée est un nombre et est supérieure à 0

                    if($.isNumeric(qte) && qte > 0 ) {
                        //_________________PRIX


                        //prix produit * quantite
                        let pQte = qte * prixProduit;
                        parseFloat($('#prixTotal_' + id).text(pQte.toFixed(2)));


                        //Prix Total HT
                        let totalPrix = 0.0;
                        $(".priceall").each(function (index) {
                            totalPrix  += parseFloat($(this).text());

                            parseFloat($('#prixFinal').text(totalPrix.toFixed(2)));
                        });

                        //__________________VOLUME

                        //volume produit * quantite
                        let vQte = qte * volumeProduit;
                        parseFloat($('#volumeTotal_' + id).text(vQte.toFixed(2)));

                        //Volume Total
                        let volume = 0;
                        $(".volumeall").each(function (index) {
                            volume = volume + parseFloat($(this).text());
                        });
                        parseFloat($('#volumeFinal').text(volume.toFixed(2)));

                        $('.sp-voll').text((volume).toFixed(1));

                        let volume_secP = '#30a852';

                        let volume_sec_max = 70;

                        if(volume >= 56) {
                            volume_secP = '#eb671c';
                        }
                        if(volume >= 69.3)  {
                           volume_secP = '#ed2338';
                        }

                        $('#push-container-top .bloc-sec .curseur-v i').css('width',(volume/volume_sec_max) * 100+'%');
                        $('#push-container-top .bloc-sec .curseur-v i').css('background-color',volume_secP);
                        let volume_fraisP = '#30a852';

                        let volume_frais_max = 46;

                        if(volume >= 36.8) {
                            volume_fraisP = '#eb671c';
                        }

                        if(volume >= 45.54) {
                            volume_fraisP = '#ed2338';
                        }

                        $('#push-container-top .bloc-frais .curseur-v i').css('width',(volume/volume_frais_max) * 100+'%');
                        $('#push-container-top .bloc-frais .curseur-v i').css('background-color',volume_fraisP);




                        //___________________POIDS

                        //poids produit * quantite
                        let poidsQte = qte * poidsProduit;
                        parseFloat($('#poidsTotal_' + id).text(poidsQte.toFixed(2)));

                        //Poids Total
                        let poids = 0;
                        $(".poidsall").each(function (index) {
                            poids = poids + parseFloat($(this).text());
                        });
                        parseFloat($('#poidsFinal').text(poids.toFixed(2)));

                        $('.sp-pdss').text((poids/1000).toFixed(1));

                        let color_secP = '#30a852';

                        let  poids_sec_max = 24;

                        if(  ((poids/1000) >= 19.2))  {
                            color_secP = '#eb671c';
                        }
                        if(  ((poids/1000) >= 23.76))  {
                            color_secP = '#ed2338';
                        }

                        $('#push-container-top .bloc-sec .curseur-p i').css('width',((poids/1000)/poids_sec_max) * 100+'%');
                        $('#push-container-top .bloc-sec .curseur-p i').css('background-color',color_secP);

                        let color_fraisP = '#30a852';

                        let poids_frais_max = 21;

                        if(  ((poids/1000) >= 16.8))  {
                            color_fraisP = '#eb671c';
                        }
                        if(  ((poids/1000) >= 20.79))  {
                            color_fraisP = '#ed2338';
                        }
                        $('#push-container-top .bloc-frais .curseur-p i').css('width',((poids/1000)/poids_frais_max) * 100+'%');
                        $('#push-container-top .bloc-frais .curseur-p i').css('background-color',color_fraisP);




                    }
                    //Sinon on refresh la page
                    else {
                        location.reload();
                    }
                }
            });
        }
    </script>

    <script>
        function suppAjax(id,changePath) {
            $.ajax({
                type: "POST",
                url: changePath,
                data : {
                    idproduit: $('#produit_' +id).val()
                },
                dataType: "json",
                success: function(response) {

                    let qte = $('#submitid_' +id).val();

                    //Supprime avec un effet
                    $('#produit_' +id).fadeOut(300,function() { $("this").remove() });

                    //Enlève 1 au panier
                    let txt = parseInt($('#checkout_items').text());
                    $('#checkout_items').text(txt-1);


                    //Poids produit
                    let poidsProduit = parseFloat($('#poidsProd_'+id).text()).toFixed(2);
                    //Poids final
                    let poidsFinal = parseFloat($('#poidsFinal').text()).toFixed(2);


                    //Volume produit
                    let volumeProduit = parseFloat($('#volumeTotal_'+id).text()).toFixed(2);
                    //Change le volume final
                    let volumeFinal = parseFloat($('#volumeFinal').text()).toFixed(2);


                    //Prix produit
                    let prixProduit = parseFloat($('#prixTotal_'+id).text()).toFixed(2);
                    //Change le prix final
                    let prixFinal = parseFloat($('#prixFinal').text()).toFixed(2);



                    //Si l'on supprime un produit du panier
                    if ( $('#produit_' +id).fadeOut(300,function() { $("this").remove() })) {
                        let poidsF = poidsFinal - (poidsProduit * qte);
                        parseFloat($('#poidsFinal').text(poidsF.toFixed(1)));
                        $('.sp-pdss').text((poidsF/1000).toFixed(1));

                        //Container update
                        //produits secs
                        let color_secP = '#30a852';

                        let  poids_sec_max = 24;

                        if(  ((poidsF/1000) >= 19.2))  {
                            color_secP = '#eb671c';
                        }
                        if(  ((poidsF/1000) >= 23.76))  {
                            color_secP = '#ed2338';
                        }

                        $('#push-container-top .bloc-sec .curseur-p i').css('width',((poidsF/1000)/poids_sec_max) * 100+'%');
                        $('#push-container-top .bloc-sec .curseur-p i').css('background-color',color_secP);

                        //produit frais
                        let color_fraisP = '#30a852';

                        let poids_frais_max = 21;

                        if(  ((poidsF/1000) >= 16.8))  {
                            color_fraisP = '#eb671c';
                        }
                        if(  ((poidsF/1000) >= 20.79))  {
                            color_fraisP = '#ed2338';
                        }
                        $('#push-container-top .bloc-frais .curseur-p i').css('width',((poidsF/1000)/poids_frais_max) * 100+'%');
                        $('#push-container-top .bloc-frais .curseur-p i').css('background-color',color_fraisP);


                        let volumeF = volumeFinal - volumeProduit ;
                        parseFloat($('#volumeFinal').text(volumeF.toFixed(1)));
                        $('.sp-voll').text((volumeF).toFixed(1));

                        //Container update
                        //Produits secs

                        let volume_secP = '#30a852';

                        let volume_sec_max = 70;

                        if(volumeF >= 56) {
                            volume_secP = '#eb671c';
                        }
                        if(volumeF >= 69.3)  {
                            volume_secP = '#ed2338';
                        }

                        $('#push-container-top .bloc-sec .curseur-v i').css('width',(volumeF/volume_sec_max) * 100+'%');
                        $('#push-container-top .bloc-sec .curseur-v i').css('background-color',volume_secP);

                        //Produits frais
                        let volume_fraisP = '#30a852';

                        let volume_frais_max = 46;

                        if(volumeF >= 36.8) {
                            volume_fraisP = '#eb671c';
                        }

                        if(volumeF >= 45.54) {
                            volume_fraisP = '#ed2338';
                        }

                        $('#push-container-top .bloc-frais .curseur-v i').css('width',(volumeF/volume_frais_max) * 100+'%');
                        $('#push-container-top .bloc-frais .curseur-v i').css('background-color',volume_fraisP);






                        let prixF = prixFinal - prixProduit;
                        parseFloat($('#prixFinal').text(prixF.toFixed(2)));


                        //Rafraichit la page lorsque tout est supprimé (marge d'erreur de soustraction à 0.2 près)
                        if( (parseFloat($('#volumeFinal').text()) >= 0 &&  (parseFloat($('#volumeFinal').text())) <= 0.20 || (parseFloat($('#volumeFinal').text()) <= 0 && parseFloat($('#volumeFinal').text()) >= -0.20 )) ){
                            location.reload();
                        }
                    }
                }
            });
        }
    </script>

{% endblock %}




