{% extends 'base.html.twig' %}

{% set totalHT = 0 %}


{% block title %}Commande - SNIW , centrale d'achat export.{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome/all.css">
{% endblock %}


{% block body %}
    <body>
    <div class="background">
        <div class="columns-container container carriere-container">
            <div class="rte">


                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li> <i class="fa fa-angle-right"></i><a href="{{ path('catalogue') }}">Catalogue</a></li>
                        <li class="active"><i class="fa fa-angle-right" aria-hidden="true"></i>Votre panier</li>

                    </ul>
                </div>
                <h2> Récapitulatif de la commande </h2>
                <table class="table mt-5">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Description</th>
                        <th>Prix/Carton</th>
                        <th>Nb de carton(s)</th>
                        <th>Total</th>
                        <th> Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if produits|length ==0 %}
                    <tr>
                        <td colspan="6" class="text-center"> Votre panier est vide </td>
                    </tr>

                    {% endif %}
                    {% for produit in produits  %}
                    <tr>
                        <td> <img src="{{ asset('images/croquette.jpg') }}"></td>

                        <form action="{{ path('ajouter',  {'id' : produit.id}) }}" method="get">
                            <td> {{ produit.nom }}</td>
                            <td> {{ produit.getPrixFinal() }}€</td>
                            <td>
                               <input name="quantite" type="text" value="{{ panier[produit.id] }}" onchange="this.form.submit()" >
                            </td>

                            <td> {{ produit.getPrixFinal() * panier[produit.id] }}€</td>
                            <td><a href="{{ path('supprimer' , {'id' : produit.id}) }}"><i class="fa fa-trash"></i></a></td>
                        </form>
                    </tr>

                        {% set totalHT = totalHT + (produit.getPrixFinal() * panier[produit.id]) %}


                    {% endfor %}


                    </tbody>
                </table>

                {% if produits|length !=0 %}

                <div class="row">
                    <div class="col-md-6">


                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <tr>
                             <td> Volume</td>
                             <td> 123 m³</td>
                            </tr>
                            <tr>
                                <td> Poids</td>
                                <td> 1255 T</td>
                            </tr>

                            <tr>
                                <td>Total HT</td>
                                <td style="font-weight: bold;font-size:22px"> {{ totalHT }}€</td>
                            </tr>
                        </table>

                    </div>


                </div>



                    <div class="row mt-4">
                        <div class="col">
                            <a class="btn-mj btn-def" href="{{ path('catalogue') }}" style="color:white"> <i class="fa fa-angle-double-left"></i> Continuer mes achats </a>
                        </div>
                        <div class="col">
                            <a class="btn-mj btn-def" href="{{ path('adresses', {id: app.user.id}) }}" style="color:white;float:right"> Envoyer ma demande <i class="fa fa-angle-double-right"></i>  </a>
                        </div>
                    </div>

                {% endif %}

                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>

    <script>

    </script>


{% endblock %}




