{% extends 'admin/base.html.twig' %}


{% block title %} Dashboard Admin - S.N.I.W {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="/styles/font-awesome/all.css">
{% endblock %}


{% block body %}

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
       {% include "admin/left_side.html.twig" %}
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Tableau de bord </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active" aria-current="page"> Tableau de bord</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Total revenue des commandes</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"> {{ somme }}€ </h1>
                                        </div>

                                    </div>
                                    <div class="card-body">
                                        <h5 class="text-muted">Plus grosses commandes</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"> 0€ </h1>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Produits les plus vendus</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">Produit 1</h1>
                                        </div>

                                    </div>
                                    <div class="card-body">
                                        <h5 class="text-muted"> 2e :</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"> Produit 2</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted"> Nombre de commandes clients</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"> {{ countCommandes }} commandes </h1>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted"> Nombre total d'inscriptions</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">{{ countClients }} clients</h1>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                <div class="card">
                                    <h5 class="card-header"> Les 5 dernières commandes</h5>
                                    <div class="card-body ">
                                        <div class="table-responsive">

                                            <table class="table table-bordered first">
                                                <thead>

                                                <tr style="background-color:lightgrey">
                                                    <th>ID</th>
                                                    <th>Référence</th>
                                                    <th>Pays de livraison</th>
                                                    <th>Prénom</th>
                                                    <th>Nom</th>
                                                    <th>Email</th>
                                                    <th>Société</th>
                                                    <th>Total</th>
                                                    <th>Etat</th>
                                                    <th>Date</th>
                                                    <th>Exporter / Détails / Supprimer</th>

                                                </tr>
                                                </thead>

                                                <tbody>
                                                {% for commande in commandes %}
                                                    <tr>
                                                        <td>{{ commande.id }}</td>
                                                        <td>
                                                            {{ commande.reference }}
                                                        </td>
                                                        <td> {{ commande.pays }} </td>
                                                        <td> {{ commande.prenom }}</td>
                                                        <td> {{ commande.nom }}</td>
                                                        <td> {{ commande.email }}</td>
                                                        <td> {{ commande.societe }}</td>
                                                        <td> <strong> {{ commande.commande.prixHT }}€ </strong> </td>
                                                        <td> {{ commande.etat }}</td>
                                                        <td> {{ commande.date|date('Y-m-d H:i:s') }}</td>
                                                        <td>
                                                            <div class="btn btn-group justified">


                                                                <a class="ml-2 mr-2" href="{{ path('commande_export', {id:commande.id}) }}" onclick="return confirm('Exporter cette comande ?');">
                                                                    <button class="btn"><i class="fa fa-download"></i></button>
                                                                </a>

                                                                <a class="ml-2 mr-2" href="{{ path('commande_edit', {id: commande.id}) }}">
                                                                    <button class="btn btn-warning"><i class="fas fa-pen"></i></button>
                                                                </a>

                                                                <form method="post" action="{{ path('commande_delete_dashboard', {'id': commande.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette commande ?');">
                                                                    <input type="hidden" name="_method" value="DELETE">
                                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
                                                                    <button class="btn btn-danger" ><i class="fas fa-trash"></i></button>
                                                                </form>


                                                            </div>

                                                        </td>
                                                    </tr>

                                                {% endfor %}

                                                </tbody>


                                            </table>
                                            <tr>
                                                <td colspan="9">
                                                    <div class="mt-4">
                                                        <a href="{{ path('commande_show') }}" class="btn btn-outline-light ">Toutes les commandes</a>
                                                    </div>
                                                </td>
                                            </tr>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- ============================================================== -->
                            <!-- sales traffic country source  -->
                            <!-- ============================================================== -->

    
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- customer acquistion  -->
                            <!-- ==============================================================
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Customer Acquisition</h5>
                                    <div class="card-body">
                                        <div class="ct-chart ct-golden-section" style="height: 354px;"></div>
                                        <div class="text-center">
                                            <span class="legend-item mr-2">
                                                    <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">Returning</span>
                                            </span>
                                            <span class="legend-item mr-2">

                                                    <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">First Time</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end customer acquistion  -->
                            <!-- ============================================================== -->
                        </div>
                        <div class="row">


                            <!-- recent customer-->



                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                <div class="card">
                                    <h5 class="card-header"> Les 5 dernières inscriptions</h5>
                                    <div class="card-body ">
                                        <div class="table-responsive">

                                                <table class="table table-bordered first">
                                                <thead>

                                                <tr style="background-color:lightgrey">
                                                    <th>ID</th>
                                                    <th> Titre</th>
                                                    <th>Prénom</th>
                                                    <th> Nom</th>
                                                    <th>Adresse e-mail</th>
                                                    <th>Société</th>
                                                    <th>Date d'inscription</th>
                                                    <th>Exporter / Détails / Supprimer</th>

                                                </tr>
                                                </thead>

                                                <tbody>
                                                {% for user in users %}
                                                <tr>
                                                    <td>{{ user.id }}</td>
                                                    <td>
                                                        {{ user.getTitre() ? 'M' : 'F' }}
                                                    </td>
                                                    <td>{{ user.prenom }} </td>
                                                    <td> {{ user.nom }}</td>
                                                    <td> {{ user.email }}</td>
                                                    <td> {{ user.societe }}</td>
                                                    <td> {{ user.getDateInscription() ? user.getDateInscription()|date('Y-m-d H:i:s') : '' }}</td>

                                                    <td>
                                                        <div class="btn btn-group justified">

                                                            <a class="ml-2 mr-2" href="{{ path('client_export', {id:user.id}) }}" onclick="return confirm('Exporter cet user ?');">
                                                                <button class="btn"><i class="fa fa-download"></i></button>
                                                            </a>

                                                            <a class="ml-2 mr-2" href="{{ path('client_edit', {id: user.id}) }}">
                                                                <button class="btn btn-warning"><i class="fas fa-pen"></i></button>
                                                            </a>

                                                            <form method="post" action="{{ path('client_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce client');">
                                                                <input type="hidden" name="_method" value="DELETE">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                                <button class="btn btn-danger" ><i class="fas fa-times"></i></button>
                                                            </form>


                                                        </div>

                                                    </td>
                                                </tr>
                                                {% endfor %}

                                                </tbody>


                                            </table>
                                            <tr>
                                                <td colspan="9">
                                                    <div class="mt-4">
                                                        <a href="{{ path('client_show') }}" class="btn btn-outline-light ">Tous les clients</a>
                                                    </div>
                                                </td>
                                            </tr>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- ============================================================== -->
                            <!-- sales traffic country source  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Ventes par pays</h5>
                                    <div class="card-body p-0">
                                        <ul class="country-sales list-group list-group-flush">
                                            <li class="country-sales-content list-group-item"><span class="mr-2"><i class="flag-icon flag-icon-us" title="us" id="us"></i> </span>
                                                <span class="">United States</span><span class="float-right text-dark">78%</span>
                                            </li>
                                            <li class="list-group-item country-sales-content"><span class="mr-2"><i class="flag-icon flag-icon-ca" title="ca" id="ca"></i></span><span class="">Canada</span><span class="float-right text-dark">7%</span>
                                            </li>
                                            <li class="list-group-item country-sales-content"><span class="mr-2"><i class="flag-icon flag-icon-ru" title="ru" id="ru"></i></span><span class="">Russia</span><span class="float-right text-dark">4%</span>
                                            </li>
                                            <li class="list-group-item country-sales-content"><span class=" mr-2"><i class="flag-icon flag-icon-in" title="in" id="in"></i></span><span class="">India</span><span class="float-right text-dark">12%</span>
                                            </li>
                                            <li class="list-group-item country-sales-content"><span class=" mr-2"><i class="flag-icon flag-icon-fr" title="fr" id="fr"></i></span><span class="">France</span><span class="float-right text-dark">16%</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#" class="btn-primary-link">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end sales traffice country source  -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
</body>
    {% endblock %}


{% block javascripts %}    <script src="admin/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="admin/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="admin/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="admin/assets/libs/js/main-js.js"></script>
<!-- chart chartist js -->
<script src="admin/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<!-- sparkline js -->
<script src="admin/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="admin/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="assets/vendor/charts/morris-bundle/morris.js"></script>
<!-- chart c3 js -->
<script src="admin/assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="admin/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<script src="admin/assets/vendor/charts/c3charts/C3chartjs.js"></script>
<script src="admin/assets/libs/js/dashboard-ecommerce.js"></script>
{% endblock %}
