{% extends 'base.html.twig' %}

{% block title %}Historique des commandes - SNIW , centrale d'achat export.{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome/all.css">
{% endblock %}


{% block body %}

    <link rel="stylesheet" type="text/css" href="/styles/pagination.css">
    <body>
    <div class="background">
        <div class="columns-container container carriere-container">
            <div class="rte">


                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li class="active"><i class="fa fa-angle-right" aria-hidden="true"></i>Commandes types</li>

                    </ul>
                </div>
                <!--  Success Message  -->


                {% if is_granted('ROLE_ADMIN') %}

                <div class="row">

                    <div class="col">
                        {% if app.session.flashBag.has('success')  %}
                            <div class="form-group col-md-6">
                                {% for message in app.flashes('success') %}

                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor%}
                            </div>
                        {% endif %}
                    </div>
                </div>

                    <p>   1 - Pour créer une commande type, veuillez commencer par  passer une commande en tant qu'admin en cliquant <a href="{{ path('catalogue') }}"> ici </a>.

                    </br> 2 - Ensuite vous pouvez créer votre commande type à partir de la référence de la commande associée

                    </p>

                    <div class="container" style="margin-top:40px">
                        <h3><span>&nbsp;Les commandes admin<hr></span></h3>


                        <div class="container mt-4">
                            <div class="row">

                                <div class="pages d-flex flex-row align-items-center ">
                                    {{ knp_pagination_render(commandes) }}
                                </div>
                            </div>

                        </div>
                        <hr>
                        {{ form_start(formSearch) }}
                        {{ form_row(formSearch.rechercher) }}
                        <button class="btn" style="padding:0px 10px"><i class="fa fa-search"></i></button>

                        {{ form_end(formSearch) }}
                    </div>


                    <table class="table mt-4 table-responsive">
                        <thead>
                        <tr style="text-align:center">
                            <th>Référence </th>
                            <th>Date</th>
                            <th>Prix total</th>
                            <th> Détails </th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for commande in commandes  %}

                            <tr style="text-align:center">
                                    <td> {{ commande.reference }} </td>
                                    <td> {{ commande.date|date('d/m/Y') }}</td>

                                    {% if commande.commande.prixHT is defined %}
                                        <td> {{ commande.commande.prixHT }}€</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    <td>
                                        <a href="{{ path('commande_details', {id: commande.id}) }}">
                                            <i class="fa fa-search-plus">
                                            </i> Afficher
                                        </a>
                                    </td>



                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div class="container" style="margin-top:60px">
                        <h3><span>&nbsp;Créer une commande type<hr></span></h3>
                    </div>


                    {{ form_start(form) }}
                <div class="row">

                    <div class="col-md-6 text-center" style="margin-left:80px">
                        {{ form_row(form.nom) }}
                        {{ form_row(form.commande) }}
                        {{ form_row(form.user) }}
                    </div>
                    <div class="col-md-6" style="margin-left:30px;margin-top:20px">
                        <button id="review_submit"  style="margin-left:80px" class="red_button message_submit_btn trans_300"  > Créer</button>
                    </div>
                {{ form_end(form) }}
                </div>




                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}

                <div class="container" style="margin-top:60px">

                    <h3><span>&nbsp;Les commandes types<hr></span></h3>


                        <div class="container mt-4">
                            <div class="row">

                                <div class="pages d-flex flex-row align-items-center ">
                                    {{ knp_pagination_render(commandeTypes) }}
                                </div>
                            </div>

                        </div>
                        <hr>
                        {{ form_start(formSearch2) }}
                        {{ form_row(formSearch2.rechercher) }}
                        <button class="btn" style="padding:0px 10px"><i class="fa fa-search"></i></button>

                        {{ form_end(formSearch2) }} </div>

                    <table class="table mt-5 table-responsive">
                        <thead>
                        <tr style="text-align:center">
                            <th> Nom de la commande Type</th>
                            <th> Référence</th>
                            <th> Client associé</th>
                            <th> Détails commande</th>
                            {% if is_granted('ROLE_ADMIN') %}
                            <th> Supprimer </th>
                            {% endif %}

                        </tr>
                        </thead>
                        <tbody>

                        {% if commandeTypes|length ==0 %}
                            <tr>
                                <td colspan="6" class="text-center"> Pas de commandes Types </td>
                            </tr>
                        {% endif %}


                        {% for commande in commandeTypes  %}
                                <tr style="text-align:center">
                                    <td> {{ commande.nom }} </td>
                                    <td> {{ commande.commande.reference }}</td>
                                    <td> {{ commande.user.nom }}</td>
                                    <td>
                                        <a href="{{ path('commandes-type_details', {id: commande.commande.id}) }}">
                                            <i class="fa fa-search-plus">
                                            </i> Afficher
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{{ path('commandes_type_delete' , {'id' : commande.id}) }}"><i class="fa fa-trash" style="font-size:20px;margin-left:20px"></i></a>
                                    </td>


                                </tr>

                        {% endfor %}


                        </tbody>
                    </table>

                {% else %}


                <div class="container" style="margin-top:60px">

                    <h3><span>&nbsp;Les commandes types<hr></span></h3>


                    <div class="container mt-4">
                        <div class="row">

                            <div class="pages d-flex flex-row align-items-center ">
                                {{ knp_pagination_render(commandeTypes) }}
                            </div>
                        </div>

                    </div>
                    <hr>
                    {{ form_start(formSearch2) }}
                    {{ form_row(formSearch2.rechercher) }}
                    <button class="btn" style="padding:0px 10px"><i class="fa fa-search"></i></button>

                    {{ form_end(formSearch2) }}
                </div>

                <table class="table mt-5 table-responsive">
                    <thead>
                    <tr style="text-align:center">
                        <th> Nom de la commande Type</th>
                        <th> Référence</th>
                        <th> Détails commande</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th> Supprimer </th>
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>

                    {% if commandeTypes|length ==0 %}
                        <tr>
                            <td colspan="6" class="text-center"> Pas de commandes Types </td>
                        </tr>
                    {% endif %}
                    {% for commande in commandeTypes  %}
                        {% if app.user.id == commande.user.id %}
                            <tr style="text-align:center">
                                <td> {{ commande.nom }} </td>
                                <td> {{ commande.commande.reference }}</td>
                                <td>
                                    <a href="{{ path('commandes-type_details', {id: commande.commande.id}) }}">
                                        <i class="fa fa-search-plus">
                                        </i> Afficher
                                    </a>
                                </td>

                                {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a href="{{ path('commandes_type_delete' , {'id' : commande.id}) }}"><i class="fa fa-trash" style="font-size:20px;margin-left:20px"></i></a>
                                </td>


                            </tr>



                            {% endif %}
                        {% endif %}
                    {% endfor %}


                    </tbody>
                </table>

                {% endif %}



                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
    </body>



{% endblock %}



