{% extends 'base.html.twig' %}

{% block title %}Historique des commandes - SNIW , centrale d'achat export.{% endblock %}

{% block stylesheet %}

    <link rel="stylesheet" type="text/css" href="/styles/font-awesome/all.css">
{% endblock %}


{% block body %}
    <body>
    <div class="background">
        <div class="columns-container container carriere-container">
            <div class="rte">


                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a></li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="{{ path('commandes_type') }}">Commandes types </a></li>
                        {% else %}
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="{{ path('commande_view', {id:app.user.id}) }}">Vos commandes </a></li>
                        {% endif %}

                        <li class="active"><i class="fa fa-angle-right" aria-hidden="true"></i>Détails</li>

                    </ul>
                </div>

                <h2> Détail de la commande {{ commande.reference }} </h2>
                {% if is_granted('ROLE_ADMIN') == false %}
                <div class="row mt-4">
                    <div class="col" style="background-color:#fbfbfb;border:1px solid #d8d8d8" >
                        <h4 class="mt-4" style="color:black"> Adresse de livraison  </h4>
                        <hr>
                        <ul>
                            <li> {{ commande.prenom }} {{ commande.nom }}</li>
                            <li> {{ commande.adresse }}</li>
                            <li> {{ commande.getCodePostal() }} {{commande.ville }}</li>
                            <li> {{ commande.pays }} </li>
                            <li> {{ commande.telephone }}</li>
                            <li class="mt-4"> </li>
                        </ul>
                    </div>


                    <div class="col ml-4" style="background-color:#fbfbfb;border:1px solid #d8d8d8" >
                        <h4 class="mt-4" style="color:black"> Adresse de facturation  </h4>
                        <hr>
                        <ul>
                            <li> {{ commande.prenom }} {{ commande.nom }}</li>
                            <li> {{ commande.adresse }}</li>
                            <li> {{ commande.getCodePostal() }} {{ commande.ville }}</li>
                            <li> {{ commande.pays }} </li>
                            <li> {{ commande.telephone }}</li>
                            <li></li>
                        </ul>
                    </div>


                </div>

                <h5 class="mt-4"> Date de commande : {{ commande.date|date('d-m-Y') }}</h5>


                {% endif %}


                <table class="table mt-5 table-responsive">
                    <thead>
                    <tr style="text-align:center">
                        <th style="width:100px"> Produit </th>
                        <th>Référence</th>
                        <th>Description</th>

                        <th>Nb de carton(s)</th>



                        <th> Prix / Carton</th>

                        <th> Prix Total</th>



                        {% if commande.commande.produit is defined  %}
                            <th> Re-commander</th>
                        {% else %}
                            <th> Ajouter au panier</th>
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>


                    {% if commande.commande.produit is not defined  %}
                        {% for produit in commande.produits %}
                            <tr style="text-align:center">
                                <td>

                                    {% if produit.image|length > 0 %}
                                        <img src="{{ asset('produits/images/' ~ produit.image) }}" style="width:100%;" alt="{{ produit.nom }}">
                                    {% else %}
                                        <img src="http://{{ produit.imageImport }}" style="width:90%;" alt="{{ produit.nom }}">
                                    {% endif %}



                                </td>
                                <td style="display:none"> <span id="id-prod">{{ produit.id }} </span></td>
                                <td> {{ produit.reference }} </td>
                                <td> {{ produit.nom }}</td>
                                <td> <input onchange="modifQte({{ produit.id }},'/recommander/ajax/'+{{ produit.id }})" name="quantite" id="submitid_{{ produit.id }}" type="text" value="{{ produit.quantite }}" >
                                </td>
                                <td> <span id="prixCarton_{{ produit.id }}">{{ produit.getPrixFinal()|number_format(2,'.','') }} </span>€</td>

                                {% set prixTotal = produit.getPrixFinal() * produit.quantite %}
                                <td>  <span id="prixTotal_{{ produit.id }}">{{ prixTotal|number_format(2,'.','') }} </span>€</td>


                                <td>
                                    <ul class="navbar_user">
                                        <li class="checkout" style="margin-right:30px" >
                                            <a style="cursor:pointer" onclick="refreshAjax({{ produit.id }},'/recommander/ajax/'+ {{ produit.id }})">
                                                <i class="fa fa-cart-plus" aria-hidden="true">
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>






                        {% endfor %}

                    {% else %}

                    {% for produit in commande.commande.produit  %}
                        <tr style="text-align:center">
                            <td>

                                {% if produit.image|length > 0 %}
                                    <img src="{{ asset('produits/images/' ~ produit.image) }}" style="width:100%;" alt="{{ produit.nom }}">
                                {% else %}
                                    <img src="http://{{ produit.imageImport }}" style="width:90%;" alt="{{ produit.nom }}">
                                {% endif %}



                            </td>
                            <td style="display:none"> <span id="id-prod">{{ produit.id }} </span></td>
                            <td> {{ produit.reference }} </td>
                            <td> {{ produit.nom }}</td>
                            <td> <input onchange="modifQte({{ produit.id }},'/recommander/ajax/'+{{ produit.id }})" name="quantite" id="submitid_{{ produit.id }}" type="text" value="{{ produit.quantite }}" >

                            <td> <span id="prixCarton_{{ produit.id }}">{{ produit.prixUnitaire|number_format(2,'.','') }} </span>€</td>
                            {% set prixTotal = produit.prixUnitaire * produit.quantite %}
                            <td>  <span id="prixTotal_{{ produit.id }}">{{ prixTotal|number_format(2,'.','') }} </span>€</td>

                            <td>
                                <ul class="navbar_user">
                                    <li class="checkout" style="margin-right:30px" >
                                        <a style="cursor:pointer" onclick="refreshAjax({{ produit.id }},'/recommander/ajax/'+ {{ produit.id }})">

                                            <i class="fa fa-cart-plus" aria-hidden="true">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>



                    {% endfor %}

                    {% endif %}


                    </tbody>
                </table>



                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
    </body>

    <script src="jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>

        function modifQte(id,changePath) {

            $response = parseInt($('#qte').text());
            $.ajax({
                type: "POST",
                url: changePath,
                data : {
                    quantite: $('#submitid_' + id).val(),
                },
                dataType: "json",
                success: function(response) {
                    let txt = parseInt($('#checkout_items').text());
                    $('#checkout_items').text(txt+1);

                    //Quantité
                    let qte = $('#submitid_' +id).val();

                    //Prix du carton
                    let prixCarton = parseFloat($('#prixCarton_' + id).text()).toFixed(2);



                    if($.isNumeric(qte) && qte > 0 ) {
                        let pQte = qte * prixCarton;
                        parseFloat($('#prixTotal_' + id).text(pQte.toFixed(2)));

                    }
                    else {
                        location.reload();
                    }

                }
            });
        }

        function refreshAjax(id,changePath) {

            $response = parseInt($('#qte').text());
            $.ajax({
                type: "POST",
                url: changePath,
                data : {
                    quantite: $('#submitid_' + id).val(),
                },
                dataType: "json",
                success: function(response) {
                    let txt = parseInt($('#checkout_items').text());
                    $('#checkout_items').text(txt+1);

                    //Quantité



                    //qte.text($('#submitid_'+'#id-prod').text());
                }
            });
        }
    </script>

{% endblock %}





