{% extends 'base.html.twig' %}

{% block title %}Historique des commandes - SNIW , centrale d'achat export.{% endblock %}

{% block stylesheet %}

    <link rel="stylesheet" type="text/css" href="/styles/font-awesome/all.css">
{% endblock %}


{% block body %}
    <body>
    <div class="background">
        <div class="columns-container container carriere-container">
            <div class="rte">


                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="{{ path('commandes_type') }}">Commandes types </a></li>

                        <li class="active"><i class="fa fa-angle-right" aria-hidden="true"></i>Détails</li>

                    </ul>
                </div>
                <h2> Détail de la commande type  </h2>

                <table class="table mt-5">
                    <thead>
                    <tr style="text-align:center">
                        <th> Produit </th>
                        <th>Référence</th>
                        <th>Description</th>
                        <th>Nb de carton(s)</th>
                        <th> Prix / Carton</th>
                        <th> Prix Total</th>
                        <th> Ajouter panier</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for produit in commande.commande.produit  %}
                        <tr style="text-align:center">
                            <td> <img src="{{ asset('images/croquette.jpg') }}"></td>
                            <td> {{ produit.reference }} </td>
                            <td> {{ produit.nom }}</td>
                            <td> {{ produit.quantite }}</td>
                            <td> {{ produit.prixUnitaire }}€</td>
                            <td>  {{ produit.prixUnitaire * produit.quantite }}€</td>

                            <td>
                                <ul class="navbar_user">
                                    <li class="checkout" style="margin-right:30px" >
                                        <a href="{{ path('recommander', {id:produit.id}) }}">
                                            <i class="fa fa-cart-plus" aria-hidden="true">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>



                    {% endfor %}


                    </tbody>
                </table>



                {% include 'partiels/footer.html.twig' %}
            </div>
        </div>
    </div>
    </body>

    <script src="jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>


        jQuery(function($) {
            $('#a').click(function() {
                $.ajax({
                    url: '{{ path('panier') }}',
                    type: 'POST',
                    beforeSend: function(){
                        console.log('sa marche');
                    },
                    success: function()
                    {
                        console.log('ca marche');
                    }
                });
                return false;
            });
        });
    </script>

{% endblock %}





