{% extends 'admin/base.html.twig' %}

{% block title %} Modifier un produit {% endblock %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->


{% endblock %}


{% block body %}
<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->


<div class="dashboard-main-wrapper">
    {% include 'admin/left_side.html.twig' %}
    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Produits </h2>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="{{ path('produits_show') }}" class="breadcrumb-link">Produits</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Modifier un produit</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->


            <div class="row">
                <!-- ============================================================== -->
                <!-- validation types -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Produit : {{ produit.nom }}</h5>
                        <div class="card-body">
                            <div class="form-group col-md-6 container">


                                    {{ form_start(form) }}

                                    <h5 class="text-center"> Informations </h5>
                                    {{ form_row(form.etat) }}



                                <p>
                                    Image
                                </p>
                                <div class="text-center">

                                        <a href="{{ path('produits_edit', {id: produit.id}) }}"><img src="{{ asset('produits/images/' ~ produit.image) }}" style="width:100%;" alt="{{ produit.nom }}"></a>

                                </div>
                                <a class="btn btn-primary" style="margin-bottom: 20px;margin-left: 200px;margin-top:20px"

                                   href="{{ path('produits_edit_image', {id:produit.id}) }}"> Modifier l'image
                                </a>


                                {{ form_row(form.nom) }}
                                    {{ form_row(form.reference) }}
                                    {{ form_row(form.Gencod) }}
                                    {{ form_row(form.upc) }}

                                    {{ form_row(form.prix_base) }}
                                    {{ form_row(form.prix_final) }}

                                    {{ form_row(form.description) }}
                                    {{ form_row(form.short_description) }}
                                    {{ form_row(form.profondeur) }}
                                    {{ form_row(form.id_manufacturer) }}
                                    {{ form_row(form.weight) }}
                                    {{ form_row(form.unite) }}
                                    {{ form_row(form.prix_unite) }}
                                    <hr>
                                    <h5 class="text-center"> Caractéristiques </h5>


                                    {{ form_row(form.conditionnement) }}
                                    {{ form_row(form.unite_par_carton) }}
                                    {{ form_row(form.nb_carton_palette) }}
                                    {{ form_row(form.dlv_garantie) }}
                                    {{ form_row(form.dlv_theorique) }}
                                    {{ form_row(form.unite_par_couche) }}
                                    {{ form_row(form.produit_bio) }}
                                    {{ form_row(form.produit_nouveau) }}
                                    {{ form_row(form.produit_belle_france) }}


                                <div class="form-group row text-right">
                                    <div class="col float-right col-sm-10 col-lg-9 offset-lg-0">
                                        <button type="submit" class="btn btn-space btn-primary">Enregistrer</button>


                                    </div>



                                </div>
                                    <hr>
                                    <h5 class="text-center"> Associations </h5>





                                    {{ form_widget(form.categories) }}</li>




                                    <div class="form-group row text-right">
                                        <div class="col float-right col-sm-10 col-lg-9 offset-lg-0">
                                            <button type="submit" class="btn btn-space btn-primary">Enregistrer</button>

                                            {{ form_end(form) }}

                                        </div>



                                    </div>

                            </div>
                            <a href="{{ path('produits_show') }}"><button class="btn btn-space btn-secondary">Retour</button></a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end valifation types -->
                <!-- ============================================================== -->
            </div>

        </div>

    </div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->

{% endblock %}


{% block javascripts %}
    <!-- Main SCRIPTS -->
    <script src="/admin/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/admin/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/admin/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="/admin/assets/vendor/parsley/parsley.js"></script>
    <script src="/admin/assets/libs/js/main-js.js"></script>
    <script>
        $('.custom-file-input').on('change', function(event) {
            let inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}

