{% extends 'admin/base.html.twig' %}

{% block title %} Modifier un produit {% endblock %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->


{% endblock %}


{% block body %}
<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->


<div class="dashboard-main-wrapper">
    {% include 'admin/left_side.html.twig' %}
    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Produits </h2>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="{{ path('produits_show') }}" class="breadcrumb-link">Produits</a></li>
                                    <li class="breadcrumb-item"><a href="{{ path('produits_edit', {id:produit.id}) }}" class="breadcrumb-link">Modifier un produit</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Modifier une image</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->


            <div class="row">
                <!-- ============================================================== -->
                <!-- validation types -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Produit : {{ produit.nom }}</h5>
                        <div class="card-body">
                            <div class="form-group col-md-6 container">
                                {{ form_start(form) }}

                                <p>
                                    Image
                                </p>
                                <div class="text-center">
                                    {% if produit.imageImport|length > 0  %}
                                        <a href="{{ path('produits_edit', {id: produit.id}) }}"><img src="http://{{ produit.getImageImport() }}" style="width:90%;" alt="{{ produit.nom }}"></a>
                                    {% else %}
                                        <a href="{{ path('produits_edit', {id: produit.id}) }}"><img src="{{ asset('produits/images/' ~ produit.image) }}" style="width:100%;" alt="{{ produit.nom }}"></a>
                                    {% endif %}
                                </div>



                                <div class="input-group" style="margin-bottom:20px;margin-top:20px">
                                    <div class="input-group-prepend" style="height: 38px;">
                                        <span class="input-group-text" id="inputGroupFileAddon01"> Télécharger</span>
                                    </div>
                                    <div class="custom-file">
                                        {{ form_widget(form.image, {
                                            attr: {
                                                'placeholder': 'Choisir une image',
                                                'class' : 'custom-file-input'
                                            }}) }}
                                    </div>
                                </div>









                                <div class="form-group row text-right">
                                    <div class="col float-right col-sm-10 col-lg-9 offset-lg-0">
                                        <button type="submit" class="btn btn-space btn-primary">Enregistrer</button>

                                        {{ form_end(form) }}

                                    </div>



                                </div>

                            </div>
                            <a href="{{ path('produits_edit', {id:produit.id}) }}"><button class="btn btn-space btn-secondary">Retour</button></a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end valifation types -->
                <!-- ============================================================== -->
            </div>

        </div>

    </div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->

{% endblock %}


{% block javascripts %}
    <!-- Main SCRIPTS -->
    <script src="/admin/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/admin/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/admin/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="/admin/assets/vendor/parsley/parsley.js"></script>
    <script src="/admin/assets/libs/js/main-js.js"></script>
    <script>
        $('.custom-file-input').on('change', function(event) {
            let inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}

