<!DOCTYPE html>
<html>
    <head>

        <!-- Main STYLESHEETS -->

        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <title>Colo Shop</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="SNIW">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/cookie.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css?v=1') }}">
        <link href="{{ asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/main_styles.css?v=1') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/responsive.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.css') }}">

        <!-- Catégories Stylsheets -->

        <link rel="stylesheet" type="text/css" href="{{ asset('styles/categories_styles.css?v=3') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/categories_responsive.css?v=1') }}">

        <!-- Contact Stylesheets -->

        <link rel="stylesheet" type="text/css" href="{{ asset ('styles/contact_styles.css?v=3') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('styles/contact_responsive.css') }}">


    </head>
    <body>
    <div class="super_container">


        {% include 'partiels/header.html.twig' %}


        {% block body %}{% endblock %}

        <!-- FOOTER Template -->


        {% block javascripts %}{% endblock %}

        <!-- Main SCRIPTS -->

        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/styles/bootstrap4/popper.js"></script>
        <script src="/styles/bootstrap4/bootstrap.min.js"></script>
        <script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
        <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="/plugins/easing/easing.js"></script>


        <script src="/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>


        <!-- Catégories scripts -->

        <script src="/js/custom.js"></script>

        <!-- Contact scripts -->

        <script src="/js/contact_custom.js"></script>
    </body>
</html>
