{% extends 'base.html.twig' %}

{% block title %} Hypermarché/Supermarché - SNIW, centrale d'achat export.{% endblock %}


{% block stylesheet %}

{% endblock %}
{% block body %}
    <body onload="myFunction()">

    <div id="loading"></div>

    <link rel="stylesheet" type="text/css" href="/styles/pagination.css">
    <link rel="stylesheet" type="text/css" href="/styles/produit_fix.css?v=1">

    <div class="background">
        <div class="columns-container container produit-container">

            <div id="_desktop_top_menu" class="adtm_menu_container ">
                <div id="adtm_menu" data-open-method="1">
                    <div id="adtm_menu_inner" class="clearfix advtm_open_on_hover">
                        <ul id="menu">
                            {% for categorie in categories %}
                                {% if categorie.getIdParent() == null  %}
                                    <li class="li-niveau1 advtm_menu_3 menuHaveNoMobileSubMenu">
                                        <a  href="{{ path('catalogue_sous-cat',{id:categorie.id}) }}" title="{{ categorie.nom }}"  class=" a-niveau1 {% if app.request.attributes.get('_route') %}  {% endif %}"  data-type="category" data-id="6262"><span class="advtm_menu_span advtm_menu_span_3">{{ categorie.nom }}</span></a>


                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>


                    </div>
                </div>
            </div>
            <div class="rte">

                <div class="col product_section clearfix">



                    <!-- Breadcrumbs -->

                    <div class="breadcrumbs d-flex flex-row align-items-center" style="margin-bottom:15px">
                        <ul>
                            <li><a href="{{ path('home') }}">Home</a></li>
                            <li><a href="{{ path('catalogue') }}"><i class="fa fa-angle-right" aria-hidden="true"></i>Catalogue</a></li>

                            {%  if categorie.getIdParent()|length > 0 %}

                                <li><a href="{{ path('catalogue_sous-cat', {id:categorie.getIdParent().id}) }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ categorie.getIdParent().nom }}</a></li>
                                <li class="active"><a href="{{ path('catalogue_sous-cat', {id:categorie.id}) }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ categorie.nom }}</a></li>

                            {% endif %}

                        </ul>
                    </div>

                    <!-- Sidebar -->

                    <div class="sidebar">
                        <div class="sidebar_section">
                            <div class="sidebar_title">
                                <h5 style="background-color:#f2bf00;color:white;padding:6px 20px 6px 20px">FILTRE</h5>
                            </div>
                            <ul class="navbar-nav flex-column">

                                {{ form_start(formFiltre, {'attr': {'class': 'form-checkbox'}}) }}


                                {{ form_row(formFiltre.isBelleFrance, {'attr': {'class': 'is_bf'}}) }}
                                {{ form_row(formFiltre.isBio, {'attr': {'class': 'is_bio'}}) }}


                                {{ form_end(formFiltre) }}

                                {{ form_start(formFiltreMarque, {'attr' : {'class': 'form-checkbox-marque' }} ) }}

                                {{ form_label(formFiltreMarque.marque) }}
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" style="float:right"><span class="glyphicon glyphicon-cog"> Marques</span> <span class="caret"></span></button>
                                <ul class="dropdown-menu scrollable-menu" style="font-size:13px;width:120%">
                                    <li style="margin-left:10px">  {{ form_widget(formFiltreMarque.marque, {'attr' : {'class': 'filtre_marque' }}) }} </li>
                                </ul>
                                {{ form_end(formFiltreMarque) }}

                            </ul>
                            <div class="sidebar_title" style="margin-top:20px">
                                <h5 style="background-color:#f2bf00;color:white;padding:6px 20px 6px 20px">{{ categorie.nom }}</h5>
                            </div>

                            <ul class="navbar-nav flex-column">
                                {% for categorie in categorie.children %}
                                    {% if categorie.getIdParent()|length > 0 %}
                                        <li class="nav-item ">
                                            {% if categorie.children|length == 0 %}
                                                <a class="nav-link" href="{{ path('catalogue_sous-cat', {id:categorie.id}) }}">{{ categorie.nom }} </a>
                                            {% else %}
                                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#{{ categorie.id }}" aria-controls="submenu-3">{{ categorie.nom }} <i class="fa fa-angle-down" ></i></a>
                                                </a>
                                            {% endif %}
                                            <div id="{{ categorie.id }}" class="collapse submenu" style="">
                                                <ul class="nav flex-column">

                                                    <li class="nav-item"><a class="nav-link nav-link-li" style="font-size:10px" href="{{ path('catalogue_sous-cat', {'id':categorie.id}) }}"> <i class="fa fa-angle-right"></i> <span style="font-weight:bold">TOUT VOIR </span></a></li>


                                                    {% for categorie in categorie.children %}

                                                        <li class="nav-item"><a class="nav-link nav-link-li" style="font-size:10px" href="{{ path('catalogue_sous-cat', {'id':categorie.id}) }}"> <i class="fa fa-angle-right"></i> {{ categorie.nom }} </a></li>

                                                    {% endfor %}

                                                </ul>
                                            </div>
                                        </li>

                                    {% endif %}

                                {% endfor %}

                            </ul>

                        </div>

                    </div>


                    <!-- Main Content -->

                    <div class="main_content">
                        <!-- Products -->

                        <div class="products_iso">
                            <div class="row">
                                <div class="col">
                                    <!-- Product Sorting -->
                                    {% if produits|length !=0 %}
                                    <!-- Product Grid -->
                                    <hr>


                                    <div class="product_sorting_container product_sorting_container_top mt-4">
                                        <ul class="product_sorting">
                                            <li>
                                                <span class="type_sorting_text">Trier par  </span>
                                                <i class="fa fa-angle-down"></i>
                                                <ul class="sorting_type">
                                                    <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Defaut</span></li>
                                                    {% if is_granted('ROLE_USER') %}

                                                        <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Prix</span></li>

                                                    {% endif %}

                                                    <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Nom </span></li>
                                                    <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "marque"}'><span> Marque</span></li>

                                                </ul>
                                            </li>
                                            <li>
                                                <span>Voir</span>
                                                <span class="num_sorting_text"></span>
                                                <i class="fa fa-angle-down"></i>
                                                <ul class="sorting_num">
                                                    <li class="num_sorting_btn"><span>{{ count // 10 }}</span></li>
                                                    <li class="num_sorting_btn"><span>{{ count // 5 }}</span></li>
                                                    <li class="num_sorting_btn"><span>{{ count // 3 }}</span></li>
                                                    <li class="num_sorting_btn"><span>{{ count // 2 }}</span></li>
                                                    <li class="num_sorting_btn"><span>{{ count }}</span></li>
                                                </ul>
                                            </li>
                                            <li style="border:none">
                                               {{ count }} produit(s)
                                            </li>
                                        </ul>




                                    </div>


                                    <div class="product-grid mb-4">

                                        <!-- Products -->

                                        {% for produit in produits %}
                                        {% if is_granted('ROLE_USER') %}
                                        <div class="product-item men">
                                            <div class="product discount product_filter" style="border-right: 1px solid rgb(233, 233, 233);">
                                                <div class="product_image text-center mt-2" data-toggle="modal" data-target="#{{ produit.id }}" >

                                                    {% if produit.image|length > 0 %}
                                                        <span class="product_img_link"><img class="img-product" data-lazy="{{ asset('produits/images/' ~ produit.image) }}" style="width:100%;" alt="{{ produit.nom }}"></span>
                                                    {% else %}
                                                        <span class="product_img_link"><img class="img-product" data-lazy="http://{{ produit.getImageImport() }}" style="width:100%;" alt="{{ produit.nom }}"></span>
                                                    {% endif %}
                                                </div>

                                                <div class="product_info" style="cursor:auto !important">
                                                    <h6 class="product_name desc_bloc1" style="text-align:left;font-weight: bold">{{ produit.nom }}</h6>


                                                    <!-- Modal -->
                                                    <!-- Modal: modalAbandonedCart-->
                                                    <div class="modal fade" tabindex="-1" role="dialog" id="{{ produit.id }}" aria-labelledby="gridSystemModalLabel">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header" style="background:url(/images/bg-site.png) transparent top center repeat-y">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="gridSystemModalLabel" style="color:black"> {{ produit.nom }}</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-4">


                                                                            {% if produit.image|length > 0 %}
                                                                                <img src="{{ asset('produits/images/' ~ produit.image) }}" style="width:100%;" alt="{{ produit.nom }}">
                                                                            {% else %}
                                                                                <img src="http://{{ produit.getImageImport() }}" style="width:100%;" alt="{{ produit.nom }}">
                                                                            {% endif %}


                                                                        </div>
                                                                        <div class="col-md-7 col-md-offset-4">

                                                                            <p style="text-align:left;color:#f2bf00;font-size:15px" class="product_marque"> {{ produit.getIdManufacturer() }}</p>
                                                                            <p style="text-align:left;color:#777777;font-size:12px"> Référence :  {{ produit.reference }}</p>
                                                                            <p style="text-align:left;color:#777777;font-size:12px"> Gencod : {{ produit.gencod }}</p>
                                                                            <table id="customers">
                                                                                <tr>
                                                                                    <td> Conditionnement</td>
                                                                                    <td> {{ produit.conditionnement() }} </td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td> Unité par carton</td>
                                                                                    <td> {{ produit.getUniteParCarton() }} </td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td> NB carton/palette</td>
                                                                                    <td> {{ produit.getNbCartonPalette() }}</td>

                                                                                    <td style="border: 1px solid #e9ecef;display:none"><span
                                                                                                id="poidsProd_{{ produit.id }}">{{ produit.weight|number_format(3, '.','') }}</span>
                                                                                    </td>
                                                                                    <td style="border: 1px solid #e9ecef;display:none"><span
                                                                                                id="volumeProd_{{ produit.id }}">{{ produit.profondeur|number_format(3, '.','') }}</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td> DLV Garantie</td>
                                                                                    <td> {{ produit.getDlvGarantie() }}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td> DLV Théorique</td>
                                                                                    <td> {{ produit.getDlvTheorique() }}</td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td>Produit Belle France </td>
                                                                                    <td> {{ produit.getProduitBelleFrance() ? 'Oui' : 'Non' }}</td>
                                                                                </tr>


                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <div class="col">
                                                                        <p class="text-center "> Prix unitaire : <strong>
                                                                                {% for categorie in produit.categories %}
                                                                                    {% if loop.first %}
                                                                                        {% for coeff in categorie.coefficients %}
                                                                                            {% set coeff_cat = coeff.getNewCoeff() %}
                                                                                            {% set coeff_groupes = coeff.getGroupes() %}

                                                                                            {% if app.user.getIdGroupe().getId() == coeff_groupes.getId() %}
                                                                                                {{ ((produit.getPrixUnite() * coeff_cat)|number_format(2, '.', ',')) }}€/UC HT
                                                                                            {% else %}
                                                                                                {# L'utilisateur doit être associé à un groupe pour voir les prix #}
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                    {% endif %}
                                                                                {% endfor %} </strong></p>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->



                                                    <div class="product_info desc_bloc2" style="font-weight:bold;text-align:left;color:#f2bf00;font-size:11px"> {{ produit.getIdManufacturer() }}</div>

                                                    <div class="product_info desc_bloc3" style="text-align:left;font-size:10px;color:#777777;font-size:11px"> {{ produit.conditionnement() }}</div>



                                                    {% for categorie in produit.categories %}
                                                        {% if loop.first %}
                                                            {% for coeff in categorie.coefficients %}
                                                                {% set coeff_cat = coeff.getNewCoeff() %}
                                                                {% set coeff_groupes = coeff.getGroupes() %}

                                                                {% if app.user.getIdGroupe().getId() == coeff_groupes.getId() %}
                                                                    <div class="product_price unit-price">{{ ((produit.getPrixUnite() * coeff_cat)|number_format(2, '.', ',')) }}€/UC HT</div>
                                                                {% else %}
                                                                    {# L'utilisateur doit être associé à un groupe pour voir les prix #}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}


                                                    <div class="product_info price-condi"> Carton de {{ produit.getUniteParCarton() }} produit(s)</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="wrapper-qty text-center">

                                                            <form  method="get" id="idForm">
                                                                <span class="labelQty" style="float:left;margin-left:10px;font-size:12px">Quantit&eacute; :</span>
                                                                <br><input name="{{ produit.id }}" value="1" class="addQty" id="submitid_{{ produit.id }}" style="width: 60%;height:20px;float: left;margin-left: 10px;">
                                                        </div>

                                                    </div>

                                                    <div class="col-md-6">

                                                        <div class="wrapper-qty text-center add-tocart">
                                                            <img onclick="refreshAjax({{ produit.id }},'/ajouter/ajax/'+ {{ produit.id }})" src="{{ asset('images/add-to-cart.png') }}" style="width:40px" >
                                                        </div>

                                                    </div>

                                                    </form>

                                                    {% else %}



                                                    <div class="product-item men" style="height:280px">
                                                        <div class="product discount product_filter" style="height:260px">
                                                            <div class="product_image text-center mt-2" data-toggle="modal" data-target="#{{ produit.id }}" >
                                                                <span class="product_img_link">

                                                                       {% if produit.image|length > 0 %}
                                                                           <span class="product_img_link"><img class="img-product" data-lazy="{{ asset('produits/images/' ~ produit.image) }}" style="width:100%;" alt="{{ produit.nom }}"></span>
                                                                         {% else %}
                                                                           <span class="product_img_link"><img class="img-product" data-lazy="http://{{ produit.getImageImport() }}" style="width:90%;" alt="{{ produit.nom }}"></span>
                                                                       {% endif %}

                                                                </span>
                                                            </div>
                                                            <div class="product_info" style="cursor:auto !important">
                                                                <h6 class="product_name desc_bloc1" style="text-align:left;font-weight: bold">{{ produit.nom }}</h6>
                                                                <div class="product_price desc_bloc2" style="text-align:left;color:#f2bf00;font-size:11px"> {{ produit.getIdManufacturer() }}</div>

                                                                <div class="product_price desc_bloc3" style="text-align:left;font-size:10px;color:#777777;font-size:11px"> {{ produit.conditionnement() }}</div>



                                                                <!-- Modal -->
                                                                <!-- Modal: modalAbandonedCart-->
                                                                <div class="modal fade" tabindex="-1" role="dialog" id="{{ produit.id }}" aria-labelledby="gridSystemModalLabel">
                                                                    <div class="modal-dialog modal-lg" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header" style="background:url(/images/bg-site.png) transparent top center repeat-y">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                                <h4 class="modal-title" id="gridSystemModalLabel" style="color:black"> {{ produit.nom }}</h4>
                                                                            </div>


                                                                            <div class="modal-body">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">


                                                                                        {% if produit.image|length > 0 %}
                                                                                            <img src="{{ asset('produits/images/' ~ produit.image) }}" style="width:100%;" alt="{{ produit.nom }}">
                                                                                        {% else %}
                                                                                            <img src="http://{{ produit.getImageImport() }}" style="width:100%;" alt="{{ produit.nom }}">
                                                                                        {% endif %}


                                                                                    </div>
                                                                                    <div class="col-md-7 col-md-offset-4">

                                                                                        <p style="text-align:left;color:#f2bf00;font-size:15px" class="product_marque"> {{ produit.getIdManufacturer() }}</p>
                                                                                        <p style="text-align:left;color:#777777;font-size:12px"> Référence :  {{ produit.reference }}</p>
                                                                                        <p style="text-align:left;color:#777777;font-size:12px"> Gencod : {{ produit.gencod }}</p>
                                                                                        <table id="customers">
                                                                                            <tr>
                                                                                                <td> Conditionnement</td>
                                                                                                <td> {{ produit.conditionnement() }} </td>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td> Unité par carton</td>
                                                                                                <td> {{ produit.getUniteParCarton() }} </td>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td> NB carton/palette</td>
                                                                                                <td> {{ produit.getNbCartonPalette() }}</td>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td> DLV Garantie</td>
                                                                                                <td> {{ produit.getDlvGarantie() }}</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td> DLV Théorique</td>
                                                                                                <td> {{ produit.getDlvTheorique() }}</td>
                                                                                            </tr>

                                                                                            <tr>
                                                                                                <td>Produit Belle France </td>
                                                                                                <td> {{ produit.getProduitBelleFrance() ? 'Oui' : 'Non' }}</td>
                                                                                            </tr>


                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <div class="col">
                                                                                    <p> Créez un compte pour voir le prix.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </div><!-- /.modal -->



                                                                {% endif %}


                                                            </div>




                                                        </div>


                                                        <!-- Bouton ajouter panier au cas ou
                                                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>

                                                        -->

                                                    </div>
                                                    {% endfor %}


                                                </div>

                                                <!-- Product Sorting -->

                                                <div class="product_sorting_container product_sorting_container_bottom clearfix">




                                                    {% else %}

                                                        <h5 class="mt-4"> Aucun résultat trouvé pour "{{ search }}"</h5>
                                                    {% endif %}

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Benefit -->





                            <!-- Footer -->
                            {% include 'partiels/footer.html.twig' %}

                        </div>
                    </div>

                </div>

                <script src="/js/jquery-3.2.1.min.js"></script>
                <script src="/public/styles/bootstrap4/popper.js"></script>
                <script src="styles/bootstrap4/bootstrap.min.js"></script>
                <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
                <script src="/plugins/easing/easing.js"></script>
                <script src="/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
                <script src="/js/categories_custom.js?v=1"></script>

                <script src="/js/isotope.pkgd.min.js"></script>
                <script>

                    function refreshAjax(id,changePath) {
                        $.ajax({
                            type: "POST",
                            url: changePath,
                            data : {
                                quantite: $('#submitid_' +id).val()
                            },
                            dataType: "json",
                            success: function(response) {
                                //On récupère la quantité du produit
                                let qte = $('#submitid_' + id).val();

                                //----POIDS
                                //On récupère le poids du produit
                                let poidsProduit = parseFloat($('#poidsProd_' + id).text());
                                //Poids x la quantité du produit
                                let poidsQte = qte * poidsProduit;
                                //On ajoute les poids des produits commandés
                                let poidsContainer = parseFloat($('.sp-pdss').text());
                                //Poids courant du container + le poids du produit
                                let poidsFinal = poidsContainer + (poidsQte/1000);

                                //----VOLUME
                                //On récupère le volume du produit
                                let volumeProduit = parseFloat($('#volumeProd_' + id).text());
                                //Volume x la quantité du produit
                                let volumeQte = qte * volumeProduit;
                                //On ajoute les volumes des produits commandés
                                let volumeContainer = parseFloat($('.sp-voll').text());
                                //Volume courant du container + le volume du produit
                                let volumeFinal = volumeContainer + volumeQte;


                                //Remplissage du container
                                parseFloat($('.sp-pdss').text(parseFloat(poidsFinal).toFixed(3)));
                                parseFloat($('.sp-voll').text(parseFloat(volumeFinal).toFixed(3)));


                                //Couleur container

                                //----POIDS
                                //produits secs
                                let color_secP = '#30a852';
                                let  poids_sec_max = 24;
                                if(  ((poidsFinal) >= 19.2))  {
                                    color_secP = '#eb671c';
                                }
                                if(  ((poidsFinal) >= 23.76))  {
                                    color_secP = '#ed2338';
                                }

                                $('#push-container-top .bloc-sec .curseur-p i').css('width',((poidsFinal)/poids_sec_max) * 100+'%');
                                $('#push-container-top .bloc-sec .curseur-p i').css('background-color',color_secP);

                                //produit frais
                                let color_fraisP = '#30a852';
                                let poids_frais_max = 21;

                                if(  ((poidsFinal) >= 16.8))  {
                                    color_fraisP = '#eb671c';
                                }
                                if(  ((poidsFinal) >= 20.79))  {
                                    color_fraisP = '#ed2338';
                                }
                                $('#push-container-top .bloc-frais .curseur-p i').css('width',((poidsFinal)/poids_frais_max) * 100+'%');
                                $('#push-container-top .bloc-frais .curseur-p i').css('background-color',color_fraisP);


                                //____VOLUME
                                //Produits secs
                                let color_secV = '#30a852';
                                let volume_sec_max = 70;
                                if(  ((volumeFinal) >= 56))  {
                                    color_secV = '#eb671c';
                                }
                                if(  ((volumeFinal) >= 69.3))  {
                                    color_secV = '#ed2338';
                                }
                                $('#push-container-top .bloc-sec .curseur-v i').css('width',((volumeFinal)/volume_sec_max) * 100+'%');
                                $('#push-container-top .bloc-sec .curseur-v i').css('background-color',color_secV);

                                //Produits frais
                                let color_fraisV = '#30a852';
                                let volume_frais_max = 46;
                                if(  ((volumeFinal) >= 36.8))  {
                                    color_fraisV = '#eb671c';
                                }
                                if(  ((volumeFinal) >= 45.54))  {
                                    color_fraisV = '#ed2338';
                                }
                                $('#push-container-top .bloc-frais .curseur-v i').css('width',((volumeFinal)/volume_frais_max) * 100+'%');
                                $('#push-container-top .bloc-frais .curseur-v i').css('background-color',color_fraisV);

                            }




                        });
                    }



                </script>
                <script>
                    $(document).ready( function() {
                        $('.is_bf').click(function() {
                            // to get the selected value
                            $( ".form-checkbox" ).submit();

                            // do your magic pony stuff
                        });
                        $('.is_bio').click(function() {
                            // to get the selected value
                            $( ".form-checkbox" ).submit();

                            // do your magic pony stuff
                        });
                        $('.filtre_marque').click(function () {
                            $(".form-checkbox-marque").submit();

                        });
                    });

                </script>

                <script>
                const targets = document.querySelectorAll('img.img-product');

                window.addEventListener('scroll',(event) => {
                    targets.forEach(img=> {
                        const rect = img.getBoundingClientRect().top;
                        if(rect <= window.innerHeight) {
                            const src = img.getAttribute('data-lazy');
                            img.setAttribute('src',src);
                            img.classList.add('fade');
                        }
                    })
                })
                </script>

                <script>
                    let preloader = document.getElementById("loading");

                    fct = function myFunction() {
                        preloader.style.display = 'none';
                    };

                    setTimeout(fct(), 2000);

                </script>
    </body>

{% endblock %}


